@media screen and (max-width: 600px) {
  /* .navbar {
    float: left;
    width: 5%;
    background-color: blanchedalmond;
  } */
  .h1 {
    font-size: 8px;
  }
}

.sign {
  -ms-text-size-adjust: auto;
}

body {
  margin: 10px;
  /* background-color: rgb(43, 42, 42); */
  /* background-color: rgb(250, 250, 250); */
  background-color: rgb(241, 241, 241);
  /* background-color: #ba1e31; */
  color: black;
  font-size: 20px;
  font-family: Tahoma;
}

.navbar {
  float: left;
  width: 15%;
}

.content {
  float: center;
  width: 79.7872%;
}

.grid {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 8fr;
  grid-column-gap: 30px;
}

.wrapper > * {
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
  padding: 10px;
  font-size: 100%;
  margin-bottom: 10px;
}

.navi {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5px 10px;
  background-color: #f1f1f1;
  border-radius: 2px;
}

.list {
  display: block;
  width: 40px;
  padding: 8px 16px;
  text-decoration: none;
}

.list :hover {
  background-color: #555;
  color: white;
}

li :hover:not(.active) {
  background-color: #555;
  color: white;
}

.header,
.footer {
  background-color: rgb(250, 250, 250);
  /* background-color: #ba1e31; */
  height: 0px;
}

.img {
  max-width: 100px;
}

#title {
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-justify: newspaper;
  font-size: 48px;
  text-align: start;
}

.Link {
  text-decoration: none;
  color: black;
}

p {
  font-family: "verdana, arial, helvetica, sans-serif";
}

h4 {
  text-decoration: none;
}

.form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}

input {
  width: 50%;
  border-radius: 4px;
  height: 2rem;
  font-size: 2ex;
}

.dropdown {
  padding: 10px 20px;
  text-align: center;
  display: inline;
  font-size: 18px;
  margin: 3px 5px;
  border-radius: 2rem;
}

.commentInfo {
  display: flex;
  flex-direction: row;
}

.button {
  padding: 10px 25px;
  text-align: center;
  display: inline;
  font-size: 14px;
  margin: 4px 10px;
  border-radius: 2rem;
}

.articleBody {
  display: flex;
  flex-direction: center;
}

.single {
  margin: 70px;
  color: black;
  font-size: 20px;
  font-family: sans-serif;
  text-align: start;
}

/* .grid {
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: auto;
  grid-template-areas:
    "....... header header"
    "navbar content content"
    "footer footer footer";
  background-color: #fff;
}
.content {
  grid-area: content;
  background-color: chocolate;
}

.footer {
  grid-area: footer;
  background-color: crimson;
}
.header {
  grid-area: header;
  background-color: crimson;
}
.navbar {
  grid-area: navbar;
  background-color: darkgoldenrod;
}


/* .title {
  align-items: center;
  width: 500px;
  height: 100px;
  background-color: lightcyan;
  text-align: center;
  background-color: lightgray;
  width: 100px;
  height: 100px;
  /* padding: 10px; */
